logs
project/project
project/target
target
tmp
.history
dist
.idea
*.iml
out
.idea_modules
.classpath
.project
RUNNING_PID
.settings
*-compiled
rlite-web/db/
rlite-web/jetty-env-*.xml
!rlite-web/jetty-env-rlite_autotest.xml
!rlite-web/jetty-env-rlite_autotest_ci.xml
rlite-web/src/main/webapp/isomorphic/
rlite-web/src/main/webapp/META-INF/
rlite-web/src/main/webapp/WEB-INF/ds/cellsDS.ds.xml
rlite-web/src/main/webapp/WEB-INF/ds/cells2gDS.ds.xml
rlite-web/src/main/webapp/WEB-INF/ds/cells2gPivotDS.ds.xml
rlite-web/src/main/webapp/WEB-INF/ds/cells3gDS.ds.xml
rlite-web/src/main/webapp/WEB-INF/ds/cells3gPivotDS.ds.xml
rlite-web/src/main/webapp/WEB-INF/ds/cells4gDS.ds.xml
rlite-web/src/main/webapp/WEB-INF/ds/cells4gPivotDS.ds.xml
worksheet.sc
pom.xml.releaseBackup
release.properties
*.~*
/webdriver
